body {
  font-family: Verdana;
  font-size: 12px;
}

.algoritmo {
  float: left;
  clear: both;
  margin-bottom: 20px;
}

.algoritmo .nombre-algoritmo {
  font-weight: 700;
}

.algoritmo .intervalo {
  float:left;
  text-align: center;
  font-weight: 700;
}

.algoritmo .tiempo {
  float:left;
  text-align: left;
  font-size: 10px;
}

.algoritmo .primero {
  clear: both;
}

table #resultados {
  float: left;
  clear: both;
  font-size: 12px;
}

hr {
  width: 100%;
}

#resultados tr {
  text-align: center;
}

.mensajes-error {
  color: #f00;
}


.mensajes-normal {
  color: #080;
}

.orden-proceso {
  padding: 0 2px;
}
