.mensajes {
  font-size: 10px;
  width: 270px;
  margin: 10px;
}

.mensajes .mensajes-error {
  background-color: #FFEEEE;
  color: #990000;
  border: 2px solid #990000;
}

.mensajes .mensajes-normal {
  background-color: #C7F2C8;
  color: #33A333;
  border: 2px solid #33A333;
}

.campo-formulario .campo-error {
  border: 1px solid #C52020;
}

.campo-formulario input, .campo-formulario textarea {
  width: 250px;
}

.campo-formulario {
  width: 250px;
  margin: 10px;
  padding: 10px;
  background-color: #f0f0f0;
}

.campo-formulario .nombre {
  width: 200px;
  font-weight: 700;
}

.campo-formulario .campo {
}

.campo-formulario .ayuda {
  font-size: 10px;
  width: 250px;
}

.campo-formulario .ayuda ul {
  padding: 0 0 0 15px;
  font-size: 10px;
  width: 100%;
}

.campo-formulario .ayuda li {
  width: 235px;
}

body {
  font-family: Verdana;
  font-size: 15px;
}

h1 {
  width: 250px;
  font-size: 17px;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.encabezado ul {
  font-size: 10px;
}

.especial {
  color: #AAA;
}

.cadena-true {
  background-color: #C7F2C8;
  color: #33A333;
}

.cadena-false {
  background-color: #FFEEEE;
  color: #990000;
}
